<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body class="bg-tcream text-tdarkblue 2xl:text-xl 3xl:text-3xl">
        {{ content }}
        
        <!-- Netlify Identity redirect script -->
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script>
    </body>
</html>
